<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.db.sys.dao.SysLogDao">
  <cache eviction="lru"
  			 readOnly="true"
  			 size="512"
  			 flushInterval="60000"/>
  <sql id="queryWhereId">
  	<where>
  		<if test="username!=null and username!=''">
  			username like concat("%",#{username},"%")
  		</if>
  	</where>
  </sql>
  	<delete id="deleteObjects">
  		delete from sys_logs where id in
  		<foreach collection="ids" open="(" separator="," close=")" item="id">#{id}</foreach>
  	</delete>
  	<select id="getRowCount" resultType="int">
  		select count(*) from sys_logs <include refid="queryWhereId"/>
  	</select>
  	<select id="findPageObjects" resultType="com.db.sys.entity.SysLog">
  		select * from sys_logs <include refid="queryWhereId"/>
  		order by createdTime desc limit #{startIndex},#{pageSize}
  	</select>
  </mapper>